/*共通の要素*/
@mixin tab {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin sp {
  @media (max-width: 767px) {
    @content;
  }
}
body {
  margin: 0 auto;
  max-width: 100%;
  font-family: Noto Serif JP;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
br {
  @include tab {
    display: none;
  }
}
section {
  @include tab {
    padding: 0 30px;
  }
  @include sp {
    padding: 0 15px;
  }
}
.wrapper-left:hover,
.wrapper-center:hover,
.wrapper-right:hover{
  opacity: 0.5;
}
.radio {
  @include sp {
    display: flex;
    flex-direction: column;
  }
}
.radio-input {
  display: none;
  & + label {
    padding-left: 20px;
    position: relative;
    margin-right: 20px;
    @include sp{
      padding-bottom: 5px;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 3px;
      left: 0;
      width: 10px;
      height: 10px;
      border: 1px solid #333333;
      box-sizing: border-box;
      @include sp {
        top: 2px;
        padding-bottom: 5px;
      }
    }
  }
}
.radio-input:checked + label {
  color: #333333;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 2px;
    width: 6px;
    height: 6px;
    background: #333333;
    @include sp {
      top: 4px;
    }
  }
}
/*header*/
header {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  z-index: 6;
  @include sp {
    max-width: 100%;
  }
}
.header {
  max-width: 1191px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-family: Noto Serif;
  @include sp {
    padding: 0 15px;
  }
  &__title {
    font-size: 1.625rem;
    margin-top: 27px;
    @include sp {
      margin-top: 38px;
    }
  }
  &__menu {
    display: flex;
    margin-top: 32px;
    @include sp {
      display: none;
    }
    &-center {
      margin: 0 36px;
    }
    &-middole {
      margin-right: 38px;
    }
  }
}

/*hanburger*/
.hamburger {
  display: none;
  @include sp {
    display: block;
    background-color: #ffffff;
  }
  &-btn {
    opacity: 1;
    display: flex;
    align-items: center;
    position: fixed;
    top: 5vh;
    right: 4vw;
    z-index: 5;
    @include sp {
      margin-top: 38px;
      top: 1vh;
      right: 3vw;
    }
    &__bar {
      &--top,
      &--middle,
      &--bottom {
        display: block;
        background-color: #fffdfd;
        height: 3px;
        width: 35px;
        border-radius: 1px;
      }
      &--top {
        transform: translateY(-4px);
        transition: transform.3s;
      }
      &--bottom {
        transform: translateY(4px);
        transition: transform.3s;
      }
    }
    &__musk {
      position: absolute;
      display: none;
      width: 100vw;
      height: 1000vh;
      background-color: #22222299;
    }
  }
}

.header-list {
  background-color: #282F35;
  height: 100vh;
  width: 100%;
  transform: translateX(100%);
  transition: transform.3s;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
  @include sp{
    height: 100vh;
    display: flex;
    align-items: center;
  }
  &__content {
    @include sp {
      height: 172px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
    }
  }
  &__item {
    color: #ffffff;
    font-size: 1rem;
  }
}

/*jQueryでの操作*/
.cross.bar {
  &.hamburger-btn__bar--top {
    transform: translateY(3px) rotate(28deg);
  }
  &.hamburger-btn__bar--middle {
    opacity: 0;
  }
  &.hamburger-btn__bar--bottom {
    transform: translateY(-3px) rotate(-28deg);
  }
}
.black {
  &.bar {
    background-color: #ffffff;
  }
}
#header.bg {
  background-color: #282F35;
  height: 96px;
}
#header-form.bg {
  background-color: #282F35;
  height: 96px;
}
.stop {
  overflow: hidden;
}
.header-list.slide {
  transform: translateX(0);
  transition: transform 0.3s;
}
.top{
  background-image: url(./img/fv-bgi_02@2x.jpg);
  background-size: cover;
  background-position: center;
  padding: 0 30px;
  height: 100vh;
  @include sp {
    padding: 0 14px;
  }
}
.home{
  background-image: url(./img/fv-bgi_03@2x.jpg);
  background-size: cover;
  background-position: center;
  padding: 0 30px;
  height: 100vh;
  @include sp {
    padding: 0 14px;
  }
}
.swiper-wrapper{
  position: relative;
}
/*main*/
main {
  max-width: 100%;
  margin: 0 auto;
}
.main {
  background-image: url(./img/fv-bgi_01@2x.jpg);
  background-size: cover;
  background-position: center;
  padding: 0 30px;
  height: 100vh;
  @include sp {
    padding: 0 14px;
  }
  &__inner {
    max-width: 1191px;
    margin: 0 auto;
    padding-top: 43%;
    color: #ffffff;
    @include sp {
      padding-top: 214px;
      max-width: 100%;
    }
  }
  &__title {
    font-size: 4.375rem;
    font-family: Noto Serif;
    @include sp {
      font-size: 2.3125rem;
    }
  }
  &__subtitle {
    font-size: 2.5rem;
    margin-left: 40px;
    margin-top: 35px;
    @include sp {
      font-size: 1.875rem;
      margin-top: 61px;
      margin-left: 48px;
      max-width: 252px;
      text-align: center;
      line-height: 1.6;
    }
  }
}

/*concept*/
.concept {
  max-width: 100%;
  margin: 0 30px;
  color: #282f35;
  @include sp {
    margin: 0 15px;
  }
  &__inner-top {
    max-width: 1075px;
    margin: 118px auto 74px auto;
    display: flex;
    align-items: center;
    @include sp {
      max-width: 375px;
      margin: 109px auto 57px auto;
    }
    hr {
      border-color: #282f35;
      border-width: 5px 0px 0px 0px;
      width: 200px;
      @include sp {
        width: 90px;
      }
    }
  }
  &__title {
    font-size: 3.75rem;
    font-family: Noto Serif;
    font-weight: normal;
    margin-right: 34px;
    @include sp {
      font-size: 1.875rem;
    }
  }
  &__subtitle {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.875rem;
    line-height: 1.6;
    @include sp {
      font-size: 1.25rem;
      max-width: 336px;
    }
  }
  &__inner-center {
    max-width: 1075px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 97px;
    @include sp {
      flex-direction: column;
      margin-top: 34px;
      margin-bottom: 52px;
    }
    img {
      margin-right: 75px;
      @include tab {
        margin: 0;
      }
    }
  }
  &-text {
    max-width: 440px;
    line-height: 1.875;
    @include tab {
      padding-right: 30px;
    }
    @include sp {
      padding: 0;
      margin-bottom: 30px;
    }
  }
  &__inner-bottom {
    max-width: 1075px;
    margin: 0 auto;
    text-align: right;
    font-size: 5.625rem;
    color: #1717170d;
    margin-bottom: 75px;
    @include sp {
      font-size: 2.5rem;
      max-width: 345px;
      margin-bottom: 43px;
    }
  }
}

/*container*/
.container {
  background-image: url(./img/works-bgi@2x.jpg);
  background-position: center;
  background-size: cover;
  color: #141414;
  padding: 0 30px;
  @include sp {
    padding: 0;
  }
  &__inner-top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 122px;
    padding-bottom: 64px;
    @include sp {
      max-width: 375px;
      margin: 0 auto;
      padding-bottom: 52px;
      padding-top: 109px;
    }
    hr {
      border-color: #ffffff;
      border-width: 5px 0px 0px 0px;
      width: 200px;
      margin-right: 121px;
      margin-left: 76px;
      @include sp {
        width: 100px;
        margin-right: 15px;
        margin-left: 45px;
      }
    }
  }
  &__title {
    font-size: 3.75rem;
    color: #ffffff;
    @include sp {
      font-size: 1.875rem;
    }
  }
  &__inner-center {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
    flex-wrap: wrap;
    @include sp {
      padding: 0 27px 80px 28px;
      flex-direction: column;
      align-items: center;
      max-width: 375px;
    }
  }
  &-unit {
    max-width: 320px;
    background-color: #ffffff;
    box-shadow: #000000 0 0 6px;
    margin-top: 20px;
    @include sp {
      margin-top: 0;
    }
  }
  &-text {
    line-height: 1.875;
    padding: 25px 20px;
  }
  &-center {
    max-width: 320px;
    background-color: #ffffff;
    box-shadow: #000000 0 0 6px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    @include tab {
      margin-right: 0;
    }
    @include sp {
      margin: 30px 0;
    }
  }
  &-middle {
    line-height: 1.875;
    padding: 25px 20px 54px 20px;
  }
  &__inner-middle {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    color: #171717;
  }
  &-btn {
    width: 235px;
    height: 59px;
    background-color: #f7d43f;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 6px #1b1310;
    border-radius: 28px;
    color: #171717;
  }
  &__inner-bottom {
    max-width: 1191px;
    margin: 0 auto;
    color: #ffffff;
    opacity: 0.1;
    font-size: 5.625rem;
    padding: 70px 0;
    @include sp {
      padding: 40px 0;
      font-size: 2.5rem;
      max-width: 345px;
    }
  }
}

/*wrapper*/
.wrapper {
  max-width: 100%;
  margin: 0 auto;
  &__inner-top {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 118px;
    margin-bottom: 84px;
    font-size: 3.75rem;
    @include tab {
      padding-left: 30px;
    }
    @include sp {
      max-width: 375px;
      font-size: 1.875rem;
      margin-top: 109px;
      margin-bottom: 82px;
      padding-left: 15px;
    }
    hr {
      border-color: #282f35;
      border-width: 5px 0px 0px 0px;
      width: 200px;
      margin-left: 50px;
      @include sp {
        width: 100px;
        margin-left: 40px;
      }
    }
  }
  &__inner-center {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 320px;
    @include sp {
      max-width: 375px;
      height: 100%;
      flex-direction: column;
    }
  }
  &-left {
    background-image: url(./img/service-img01@2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include sp {
      height: 250px;
    }
  }
  &__text {
    font-size: 2.5rem;
    color: #ffffff;
    @include sp {
      font-size: 1.25rem;
      width: 95px;
      &-right {
        font-size: 2.5rem;
        color: #ffffff;
        @include sp {
          font-size: 1.25rem;
          width: 95px;
        }
      }
    }
  }
  &-center {
    background-image: url(./img/service-img02@2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    @include sp {
      height: 250px;
      margin: 30px 0;
    }
  }
  &__text-center {
    font-size: 2.5rem;
    color: #ffffff;
    @include sp {
      font-size: 1.25rem;
      width: 95px;
      &-right {
        font-size: 2.5rem;
        color: #ffffff;
        @include sp {
          font-size: 1.25rem;
          width: 95px;
        }
      }
    }
  }
  &-right {
    background-image: url(./img/sevice-img03@2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    @include sp {
      height: 250px;
    }
  }
  &__text-right {
    font-size: 2.5rem;
    color: #ffffff;
    @include sp {
      font-size: 1.25rem;
      width: 95px;
      &-right {
        font-size: 2.5rem;
        color: #ffffff;
        @include sp {
          font-size: 1.25rem;
          width: 95px;
        }
      }
    }
  }
  &__inner-bottom {
    max-width: 1075px;
    margin: 0 auto;
    text-align: right;
    font-size: 5.625rem;
    color: #1717170d;
    @include sp {
      font-size: 2.5rem;
      max-width: 375px;
    }
  }
  &__subtitle {
    margin: 70px 0;
    @include tab {
      margin-right: 30px;
    }
    @include sp {
      margin: 40px 15px 64px 0;
    }
  }
}

/*contact*/
.contact {
  max-width: 100%;
  margin: 0 auto;
  background-image: url(./img/contact-bgi@2x.jpg);
  background-size: cover;
  background-position: center;
  &__inner-top {
    color: #ffffff;
    font-size: 3.75rem;
    padding-top: 127px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include sp {
      max-width: 375px;
      font-size: 1.875rem;
      padding-top: 109px;
    }
    hr {
      border-color: #ffffff;
      border-width: 5px 0px 0px 0px;
      width: 200px;
      margin-left: 50px;
      margin-right: 120px;
      margin-top: 0;
      margin-bottom: 0;
      @include sp {
        width: 100px;
        margin-left: 40px;
        margin-right: 15px;
      }
    }
  }
  &__text {
    font-size: 1.25rem;
    color: #ffffff;
    text-align: center;
    padding-top: 84px;
    padding-bottom: 40px;
    @include sp {
      padding-top: 82px;
      padding-bottom: 30px;
    }
  }
  &__inner-bottom {
    max-width: 1191px;
    margin: 0 auto;
    font-size: 5.625rem;
    color: #ffffff;
    opacity: 0.05;
    padding: 70px 0;
    @include tab {
      margin-left: 30px;
    }
    @include sp {
      max-width: 375px;
      margin-left: 15px;
      font-size: 2.5rem;
      padding: 40px 0;
    }
  }
}

/*footer*/
footer {
  max-width: 100%;
  height: 78px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #282f35;
  font-size: 0.875rem;
}

/*2ページ目-----------------------------------------------------*/
.form {
  background-image: url(./img/contact-page-bgi@2x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  &__inner {
    padding-top: 204px;
    font-size: 3.75rem;
    display: flex;
    justify-content: center;
    @include sp {
      font-size: 1.875rem;
      padding-top: 184px;
    }
  }
  &__subtitle {
    max-width: 1392px;
    margin: 0 auto;
    font-size: 5.625rem;
    opacity: 0.05;
    padding-top: 19px;
    padding-bottom: 40px;
    margin-left: 48px;
    height: 130px;
    @include sp {
      max-width: 375px;
      font-size: 2.5rem;
      padding-top: 42px;
      margin-left: 15px;
      height: 64px;
    }
  }
}

/*content*/
.content {
  max-width: 100%;
  margin: 0 auto;
  &__inner {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 80px;
    @include sp{
      max-width: 375px;
      padding: 0 15px;
    }
  }
  &__title {
    padding-bottom: 7px;
    @include sp{
      padding-bottom: 15px;
    }
  }
  &-unit {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    input {
      padding: 6.5px;
      outline: none;
      border: 1px #141414 solid;
      margin-top: 5px;
      box-sizing: border-box;
    }
    textarea {
      height: 171px;
      resize: none;
      padding: 10px;
      outline: none;
      border: 1px #141414 solid;
      margin-top: 5px;
      margin-bottom: 80px;
      box-sizing: border-box;
    }
  }
}
